{{- $name := promptStringOnce . "name" "Your full name" -}}
{{- $email := promptStringOnce . "email" "Your email address" -}}
{{- $theme := promptStringOnce . "theme" "Theme (rose-pine, catppuccin, tokyo-night)" "rose-pine" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    theme = {{ $theme | quote }}
