[user]
    name = {{ .name }}
    email = {{ .email }}

[init]
    defaultBranch = main

[core]
    editor = vim
    autocrlf = input

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate
    df = diff
    unstage = reset HEAD --
    undo = reset --soft HEAD~1
